<div class="container">
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}{% link index.md %}"><strong>Herschel Levy</strong></a></li>
        </ul>
        <ul>
            <!-- <li>{% if page.title != "Portfolio" %}<a href="{% link portfolio.md %}">Portfolio</a>{% else
                %}Portfolio{% endif %}</li> -->
            <li>{% if page.title != "Statement" %}<a href="{{ site.baseurl }}{% link statement.md %}">Statement</a>{%
                else
                %}Statement{% endif %}</li>
            <li>{% if page.title != "Achievements" %}<a
                    href="{{ site.baseurl }}{% link achievements.md %}">Achievements</a>{% else
                %}Achievements{% endif %}</li>
        </ul>
    </nav>
    <div></div>
</div>